{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <titleRMKV SILKS></title>
    <style>
        body{
            background-color: rgb(226, 57, 82);
        }
    </style>
</head>
<body>
    <center>
    <h1>RMKV SILKS</h1>
    <img src="{% static 'rmkv.jpg' %}" style="width: 700px;height: 400px; border: 10px solid rgb(233, 45, 126); border-radius: 20px;">
<br>
<p style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: x-large;">RmKV began business operations initially as a small scale business enterprise at Turunelveli in 1924.[4] The company was named as RmKV in honor of its founding father Rm K Visvanatha Pillai by using initials mentioned on his birth certificate.[5]

The company made rapid strides by incorporating handloom silk weaving techniques to design and produce different types of sarees considering the evolution of the demographic aspects of women.[5] The company also introduced natural silk saree which was a predominant product sold by RmKV Silks to their customer base. RmKV also initiated a French tapestry technique in their weaving method to replicate Raja Ravi Varma paintings on the saree designs.[4] RmKV Silks also gained patent rights for its innovative novelty of lino silk saris, which weighs around 40% comparatively lesser than traditional silk sarees in general.</p>
<br>
<a href="{% url 'map' %}">Click here to go to main page</a> </center>
</body>
</html>